In [1]:
import numpy as np
import pandas as pd

df_play_list = pd.read_sql_table("play_list", con="mysql://root:123456@localhost:3306/crmusic163?charset=utf8")
df_song = pd.read_sql_table("song", con="mysql://root:123456@localhost:3306/crmusic163?charset=utf8")

df_play_list.info()
print("-"*80)
df_song.info()

G:\soft\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py:470: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  cursor.execute(statement, parameters)
G:\soft\Anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\base.py:1569: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  cursor.execute('SELECT @@tx_isolation')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23169 entries, 0 to 23168
Data columns (total 9 columns):
pk_play_list_id    23169 non-null int64
title              23169 non-null object
create_time        23169 non-null object
collect            23169 non-null int64
share              23169 non-null int64
comment            23169 non-null int64
tag                23169 non-null object
description        23169 non-null object
play_count         23169 non-null int64
dtypes: int64(5), object(4)
memory usage: 1.6+ MB
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2487444 entries, 0 to 2487443
Data columns (total 6 columns):
pk_song_id    int64
list_title    object
song_title    object
duration      object
singer        object
album         object
dtypes: int64(1), object(5)
memory usage: 113.9+ MB

In [7]:
df_play_list.head()

,pk_play_list_id,title,create_time,collect,share,comment,tag,description,play_count
0,1642,理查德.克莱德曼 热门50单曲,2017-01-01,47,1,1,钢琴,,832
1,1643,『纯音』目睹过花的美丽 见过你的柔情,2016-10-26,57,11,0,轻音乐|钢琴|安静,介绍： 世界上的花都是绚丽的，我闻过它们的芬芳，目睹过她们的美丽，但她们的美还不及你的柔情，...,1699
2,1644,【钢琴】无言之音,2017-08-02,10,0,0,流行|钢琴|ACG,,118
3,1645,傅聪：肖邦玛祖卡舞曲全集,2016-08-12,36,0,0,古典|钢琴,介绍： 傅聪演奏的肖邦玛祖卡舞曲全集,586
4,1646,Piano Solitude 003,2017-12-04,1,0,0,钢琴|安静|轻音乐,,33

In [8]:
df_song.head()

,pk_song_id,list_title,song_title,duration,singer,album
0,136837,『纯音』目睹过花的美丽 见过你的柔情,alb,02:28,Nunu,nunu
1,136838,『纯音』目睹过花的美丽 见过你的柔情,Sol,03:20,Misha Mishenko,sátt á sviðum
2,136839,『纯音』目睹过花的美丽 见过你的柔情,Nero,03:20,Electus,Nero
3,136840,『纯音』目睹过花的美丽 见过你的柔情,Truth,05:14,岸部眞明,Truth
4,136841,『纯音』目睹过花的美丽 见过你的柔情,Purity,04:22,Painless Destiny,Autumn

In [2]:
df_play_list.to_csv("../data/play_list.csv", index=False)
df_song.to_csv("../data/song.csv", index=False)